@use '../../utils/functions' as *;
@use '../../utils/mixins' as *;

.product-page {
  margin-bottom: clamp(1.875rem, calc(1rem + vw(44)), 3.875rem);

  &__wrapper {
    @include flex-sb;
    align-items: flex-start;

    padding: clamp(1.875rem, calc(1rem + vw(44)), 3.875rem) 1rem;
    gap: 1.88rem;

    @include media(mobile-l) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__tabs {
    position: relative;
    padding-top: 1.88rem;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 1px;
      background-color: var(--color-gray);
    }

    .tabs__nav {
      margin-bottom: 1.88rem;
      grid-template-columns: repeat(3, auto);
      justify-content: flex-start;
      gap: clamp(1.88rem, vw(60), 3.75rem);
    }

    .tabs__link {
      padding: 0;
      box-shadow: none;
      font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
      line-height: 1.5;
      background-color: transparent;
      gap: 0;

      span {
        padding-left: 5px;
      }

      &::before {
        content: none;
      }

      &[aria-selected='true'] {
        color: var(--color-orange-900);
        background-color: transparent;
      }

      &:hover {
        background-color: transparent;
      }
    }
  }
}

.product-info {
  width: 100%;
  max-width: 33.12rem;

  &__title {
    margin-bottom: clamp(0.94rem, vw(30), 1.88rem);
    text-align: left;
  }

  &__rating {
    margin-bottom: clamp(0.94rem, vw(25), 1.25rem);
  }

  &__price {
    display: block;
    margin-bottom: 1.25rem;
    font-weight: var(--fw-500);
    font-size: 1.56rem;
    line-height: 1.4;
  }

  &__quality {
    @include flex;

    align-items: flex-start;
    margin-bottom: 1.9rem;
    gap: 1.25rem;

    @include media(tablet) {
      flex-direction: column;
    }
  }

  &__delivery {
    position: relative;
  }
}

.product-property {
  @include flex;
  flex-direction: column;
  gap: 0.62rem;

  &__item {
    font-weight: var(--fw-500);
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);

    span {
      font-weight: var(--fw-400);
      opacity: 0.9;
    }
  }
}

.product-slider {
  width: 100%;
  max-width: rem(610);
  padding-bottom: 0;

  &__item {
    @include flex-all-center;
    background-color: var(--color-white);
    box-shadow: inset 0 0 0 1px var(--color-silver-200);
    border-radius: var(--radius-main);

    a {
      padding: clamp(1.5rem, calc(1rem + vw(59)), 4.7rem)
        clamp(1.5rem, calc(1rem + vw(89)), 6.6rem);
    }
  }

  &__prev,
  &__next {
    @include flex-all-center;
    z-index: 5;

    position: absolute;
    top: 50%;
    width: 3.75rem;
    height: 3.75rem;
    background-color: var(--color-white);
    transform: translateY(-50%);

    &::before {
      @include mask;

      mask-image: url('../images/icons/chevron-big.svg');
      width: 1.17rem;
      height: 2rem;
      background-color: var(--color-dark-900);
    }

    &:hover:not(.swiper-button-disabled) {
      border-color: var(--color-orange-900);
      background-color: var(--color-orange-100);

      &::before {
        background-color: var(--color-orange-900);
      }
    }

    &:active:not(.swiper-button-disabled) {
      &::before {
        background-color: var(--color-orange-900);
      }
    }

    @include media(tablet) {
      width: 2.5rem;
      height: 2.5rem;
    }

    @include media(mobile-m) {
      display: none;
    }
  }

  &__prev {
    left: 1.56rem;

    &::before {
      transform: scaleX(-1);
    }
  }

  &__next {
    right: 1.56rem;
    left: auto;
  }

  &__image {
    img {
      width: 25rem;
      max-height: 25rem;
      aspect-ratio: 1/1;
    }
  }
}
