@use '../utils/functions' as *;
@use '../utils/mixins' as *;

.breadcrumbs {
  margin-bottom: clamp(1.875rem, calc(1rem + vw(44)), 3.875rem);
  padding: 1.5rem 0;
  background-color: rgba(var(--color-orange), 0.1);

  &__list {
    @include flex-v-center;
    white-space: nowrap;
    gap: 1rem;

    // @include media(mobile-m) {
    //   justify-content: flex-start;
    //   overflow-x: scroll;
    //   padding-bottom: rem(10);
    // }

    li {
      @include flex-v-center;

      font-size: 0.875rem;
      line-height: 1.2;
      letter-spacing: 0.03em;
      color: var(--color-gray-200);

      span {
        @include media (mobile-m) {
          @include line-clamp(1);
          max-width: rem(125);
        }
      }

      &:not(:last-child) {
        position: relative;

        &::after {
          @include mask;

          mask-image: url('../images/icons/chevron.svg');
          right: -0.7rem;
          width: 0.36rem;
          height: 0.625rem;
          background-color: var(--color-gray-100);
        }
      }

      a {
        transition: color 0.3s linear;

        &:is(:hover, :active) {
          color: var(--color-orange-900);
        }
      }
    }
  }
}
