@use '../utils/functions/' as *;
@use '../utils/mixins' as *;

.footer {
  &__logo {
    margin-bottom: 1.88rem;
  }

  &__top {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 3.75rem;
    gap: clamp(1rem, vw(70), 4.375rem);

    @include media(mobile-m) {
      grid-template-columns: 1fr;
      gap: 1.94rem;
    }
  }

  &__bottom {
    @include flex-all-center;

    padding: clamp(1.25rem, calc(1rem + vw(14)), 2rem) 0;
    color: var(--color-white);
    background-color: var(--color-dark-900);
  }

  p {
    font-size: 0.875rem;
    line-height: 1;
  }

  &__block {
    width: rem(200);
    @include media(mobile-m) {
      @include flex-v-center;
      flex-direction: column;
      order: -1;
    }
  }

  &__address {
    @include media(mobile-l) {
      grid-column: 2 span;
      margin: 0 auto;
    }

    @include media(mobile-m) {
      grid-column: auto;
      margin: 0;
      order: -1;
    }
  }
}

.footer-nav {
  &__list {
    // display: grid;
    // grid-auto-flow: column;
    // grid-column-gap: clamp(1rem, calc(0.5rem + vw(62)), 4.375rem);
    // grid-template-columns: repeat(3, auto);
    // grid-template-rows: repeat(4, auto);
    column-count: 3;
    gap: clamp(1rem, (vw(60)), 3.75rem);

    @include media(mobile-m) {
      column-count: 1;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  &__link {
    font-size: 1.125rem;
    line-height: 1.3;
    letter-spacing: 0.01em;
    overflow-wrap: break-word;
    transition: color 0.3s linear;

    &:hover {
      color: var(--color-orange-900);
    }
  }
}
