@use '../utils/functions/' as *;
@use '../utils/mixins' as *;

.header {
  position: relative;
  top: 0;
  // padding: 3.75rem 0;
  padding: clamp(1rem, calc(1rem + vw(44)), 3.75rem) 0;
  width: 100%;
  transition: background-color 0.5s;

  &__inner {
    @include flex-all-sb;
  }

  &__logo {
    margin-right: 0.5rem;
    img {
      @include media(mobile-m) {
        width: 7.2rem;
        min-height: 1.4rem;
      }
    }
  }

  &.is-scroll {
    z-index: 99;
    position: fixed;
    padding: 0.8rem 0;
    box-shadow: 0 0 0.8rem 0 rgba(var(--color-orange), 0.2);
    background-color: var(--color-white);
    animation: slide-up-slow 0.5s forwards, fade-in 0.5s forwards;
  }

  &.is-open {
    background-color: transparent;
  }

  &.opened {
    background-color: transparent;
    pointer-events: none;
  }
}
