@use "../utils/functions/"as *;
@use "../utils/mixins"as *;

.header {
  position: relative;
  top: 0;
  z-index: 99;
  padding: 3.75rem 0;
  padding: clamp(1rem, calc(1rem + vw(44)), 3.75rem);
  width: 100%;
  transition:  background-color 0.25s;
  

  &__inner {
    @include flex-all-sb;
  }
 
  &.is-scroll {
    padding: 0.8rem 0;
    box-shadow: 0 0 0.8rem 0 rgba(var(--color-orange), 0.2);
    background-color: var(--color-white);
    position: fixed;
    animation: slide-up 0.3s ease forwards,
    fade-in 0.3s ease forwards;
  }

  &.opened {
    z-index: 999;
    background-color: var(--color-white);
  }
}