@use "../utils/functions/"as *;
@use "../utils/mixins"as *;

.nav {
  @include flex-all-center;

  &__list {
    @include flex-h-center;
    gap: clamp(1rem, calc(0.5rem + vw(32)), 2.75rem);

    @include media(mobile-m) {
      position: absolute;
      left: 0;
      top: calc(var(--header-height));
      z-index: -1;
      height: calc(var(--vh) - var(--header-height) + 1px);
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 0;
      border-top: 1px solid var(--color-orange-900);
      padding: 1.56rem 0 0 1rem;
      width: 100%;
      max-width: 18.8rem;
      background-color: var(--color-white);
      transform: translateX(-100%);
      transition: transform 0.5s linear;
    }
  }

  &__item {
    // // &:not(:last-child) {
    // //   margin-right: clamp(1rem, calc(0.5rem + vw(32)), 2.75rem);

    //   @include media(mobile-m) {
    //     margin: 0 0 1.25rem;
    //   }
    // }

    &--address {
      display: none;
      opacity: 0;
      visibility: hidden;

      @include media(mobile-m) {
        display: grid;
        padding-top: 2.5rem;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__link {
    font-size: 1.125rem;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: var(--color-dark-900);
    transition:
      color 0.3s linear,
      text-shadow 0.3s linear;

    &:hover {
      color: var(--color-orange-900);
    }

    &:active {
      text-shadow: 2px 2px 5px rgba(var(--color-green), 0.5);
    }

    &.active {
      color: var(--color-orange-900);
    }
  }

  &__btn {
    @include flex-all-center;
    position: relative;

    border-radius: var(--radius-main);
    padding: 0.68rem;
    color: var(--color-dark-900);
    transition:
      color 0.3s linear,
      background-color 0.3s linear;

    &:hover {
      color: var(--color-white);
      background-color: var(--color-orange-900);
    }

    &:active {
      background-color: var(--color-orange-100);
    }
  }

  &__action {
    @include flex;
  }
}