@use '../utils/functions/' as *;
@use '../utils/mixins' as *;

.pagination {
  @include flex-all-center;

  &__list {
    @include flex-all-center;

    flex-wrap: wrap;
    gap: 0.38rem;
  }

  li {
    @include media(mobile-s) {
      &:nth-child(3),
      &:nth-child(5) {
        display: none;
      }
    }
  }

  a {
    @include flex-all-center;

    position: relative;
    border: 1px solid transparent;
    border-radius: var(--radius-main);
    padding: 0.94rem 1.125rem;
    width: 3rem;
    height: 3rem;
    font-size: 1.125rem;
    line-height: 1;
    letter-spacing: 0.03em;
    background-color: rgba(var(--color-orange), 0.1);
    transition-property: color, background-color, box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: linear;

    &:hover {
      color: var(--color-white);
      background-color: var(--color-orange-900);
    }

    &:active:not(:hover) {
      box-shadow: 0 -1px 4px 2px rgba(0, 0, 0, 0.15) inset;
    }

    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }

    &.active {
      border-color: var(--color-dark-900);
    }
  }

  &__link {
    position: relative;

    &--prev,
    &--next {
      &::before {
        @include mask;

        mask-image: url('../images/icons/chevron.svg');
        width: 0.66rem;
        height: 1.125rem;
      }
    }

    &--prev {
      &::before {
        transform: scaleX(-1);
      }
    }
  }
}
