@use "../utils/functions/"as *;
@use "../utils/mixins"as *;

.property {
  @include flex;
  flex-direction: column;
  gap: 0.62rem;

  &__item {
    font-weight: var(--fw-500);
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);

    span {
      font-weight: var(--fw-400);
      opacity: 0.9;
    }
  }
}
