@use "../../utils/functions"as *;
@use "../../utils/mixins"as *;

.app {
  @include flex-all-sb;

  &__content {
    margin-right: 1rem;
    width: 100%;
    max-width: 29.34rem;

    @include media(mobile-m) {
      margin: 0;
    }
  }

  &__title {
    margin-bottom: clamp(1rem, calc(1rem + vw(39)), 2.82rem);
    text-align: left;
    text-transform: none;
  }

  &__image {
    img {
      width: 35.625rem;
      max-height: 23.75rem;
    }
  }

  &__text {
    margin-bottom: 1.88rem;
  }

  &__list {
    @include flex;

    gap: 1.88rem;
  }

  &__link {
    display: block;
    transition: opacity 0.3s linear;

    img {
      border-radius: var(--radius-main);
      min-height: 2.5rem;
      max-width: 8.44rem;
    }

    &:hover {
      opacity: 0.9;
    }
  }

  &__image {
    @include media(mobile-m) {
      display: none;
    }
  }

  @include media(mobile-m) {
    justify-content: center;
  }
}