@use '../../utils/functions' as *;
@use '../../utils/mixins' as *;

.delivery {
  align-items: center;
  max-width: rem(1030);
  margin-inline: auto;

  &__content {
    z-index: 1;
    justify-self: end;
    width: 100%;
    max-width: 29.34rem;
  }

  &__image {
    // padding-left: clamp(0.3rem, calc(1rem + vw(64)), 5rem);
    position: relative;

    img {
      width: 27.5rem;
      max-height: 36.6rem;
    }

    @include media(tablet) {
      &::before {
        content: '';
        position: absolute;
        background-color: rgba(var(--color-white-rgb), 0.85);
        inset: 0;
      }
    }
  }

  &__title {
    margin-bottom: 1.88rem;
    text-align: left;
    text-transform: none;
  }

  &__text {
    margin-bottom: 1.88rem;

    @include media(tablet) {
      max-width: 100%;
    }
  }

  &__list {
    margin-bottom: 1.88rem;
  }

  &__item {
    @include flex-v-center;

    position: relative;
    padding-left: clamp(2.5rem, calc(1rem + vw(48)), 4rem);
    font-size: clamp(1.125rem, 1.034rem + 0.3883vw, 1.5rem);

    &::before {
      @include mask;

      left: 0;
      width: 2.125rem;
      height: 2.125rem;
      background-color: var(--color-orange-900);
    }

    &:not(:last-child) {
      margin-bottom: 1.25rem;
    }

    &--speed {
      &::before {
        mask-image: url('../images/icons/stopwatch.svg');
      }
    }

    &--courier {
      &::before {
        mask-image: url('../images/icons/delivery.svg');
        background-color: var(--color-blue);
      }
    }

    &--shop {
      &::before {
        mask-image: url('../images/icons/shop.svg');
      }
    }
  }
}
