@use "../../utils/functions"as *;
@use "../../utils/mixins"as *;

.reviews-slider {
  position: relative;
  overflow: hidden;

  &__list {
    margin-bottom: clamp(2.5rem, calc(1rem + vw(44)), 3.75rem);
    width: 100%;
    max-width: 59.4rem;
  }

  &__item {
    @include flex-all-center;

    height: auto;
    gap: 1.88rem;

    @include media(mobile-m) {
      flex-direction: column;
    }
  }

  &__image {
    img {
      border-radius: var(--radius-round);
      width: 18.75rem;
      aspect-ratio: 1 / 1;
    }
  }

  &__blockquote {
    @include flex;

    flex-direction: column;
    min-height: 15rem;
    font-style: italic;
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
    color: var(--color-dark);
  }

  p {
    position: relative;
    padding: 0 clamp(2rem, calc(1rem + vw(24)), 2.5rem);
    max-width: 35.63rem;

    &::before,
    &::after {
      @include mask;

      left: 0;
      mask-image: url("../images/icons/quotes.svg");
      width: 1.5rem;
      height: 1.2rem;
      background-color: var(--color-gray);
    }

    &::after {
      left: auto;
      right: 0;
      transform: scaleX(-1);
    }
  }

  &__author {
    @include flex;

    flex-direction: column;
    margin-top: auto;
    padding-left: clamp(2rem, calc(1rem + vw(24)), 2.5rem);
    font-style: normal;
    color: var(--color-orange-900);
    gap: 1rem;

    span {
      display: block;
      font-size: 0.875rem;
      color: var(--color-dark);
    }

    @include media (mobile-m) {
      text-align: center;
    }
  }

  &__pagination {
    &.swiper-pagination {
      position: relative;
      padding: 0 1.5rem;
      width: fit-content;
    }

    &.swiper-pagination-bullets {
      bottom: -3px;
    }
  }

  &__nav {
    @include flex-all-center;

    position: relative;
  }
}